<div class="container footer">
  <footer class="pt-4 my-md-5 pt-md-5 text-align mb-5">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; 2019</small>
      </div>
      <div class="col-4 col-md">        <h5>KIKI APP</h5>
        <ul class="list-unstyled text-small">
          <li><%= link_to 'Cursos', root_path, class:'nav-link1' %></li>
          <li><%= link_to 'Escuela', schools_index_path, class:'nav-link2' %></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
