// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn {

    color: #fff;
    background-color: #6D6C98;
    border-color: #FBD45F;
    

}
