<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">KIKI hace</h1>
    <p class="lead">que tus ideas se conviertan en proyctos.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @products.each_slice(4) do |row| %>
      <% row.each do |product| %>
        <div class="col" style="margin-top: 100px;">
          <div class="card" style="max-width: 300px;">
            <%= image_tag product.photo, class: 'card-img-top' %>
            <div class="card-body">
              <h5> <%=link_to product.name, product_path(product), method: :get %> </h5>
              <p> <%= product.price %> </p>
              <%= link_to "Agregar al carro", product_orders_path(product), class: 'btn', method: :post  %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="w-100" style="margin-top:20px;"> </div>
    <% end %>
  </div>
</div>
