<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <div class='d-md-none'>
        <div class='course-img'>
          <div class='js_vimeo_video_item_7093 video-container video-player' data-video-item='true' id='video_item_7093'>
            <img
              alt="Dibujo para principiantes nivel -1"
              class=" lazyload"
              data-src="https://youtu.be/3R4fmUEGowA"
            <span class='player-icon player-icon--xl'>
              <i class="fa fa-play"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
